/* ----- Primary Colors ----- */
$color-primary-orange: #ff6f47;

/* ----- Neutral Colors ----- */
$color-neutral-white: #fff;
$color-neutral-grayishwhite: #f7fffe;

/* ----- Gradient Colors ----- */
$color-gradient-lightred: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
